body {
    background-color: cornflowerblue;
    width: 100%;
}

#counter {
    width: 15%;
    height: 50px;
    background-color: red;
}

.flex {
    display: flex;
}

.jc-flex-end {
    justify-content: flex-end;
}

.ai-center {
    align-items: center;
}

.jc-center {
    justify-content: center;
}

button {
    cursor: pointer;
    width: 70px;
    height: 29px;
}

#container {
    height: 500px;
}

.tutorials {
    font-size: 125%;
    margin-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: none;
}

#header {
    margin-top: -25px;
    margin-bottom: -75px;
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 300%;
    color: palevioletred;
}

#read_more {
    cursor: pointer;
    color: red;
    font-size: 125%;
    margin-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
