#bg-img {
    height: 300px;
    width: 100%;
    background-image: url(https://wallpapersite.com/images/pages/pic_w/7834.jpg);
    background-attachment: fixed;
    background-size: 100%;
}

#profile-img {
    background-image: url(https://preview.redd.it/1lnc3193t8wx.jpg?width=1024&s=2ac3c986ee418e057411c66aa82de9bf9dd028f2);
    width: 8%;
    height: 100px;   
    margin-top: -60px;
    margin-left: 100px;
    background-size: 140%;
}

.link {
    margin-left: 100px;
    margin-right: -50px;
}

#name {
    margin-left: 100px;
}

#desc {
    margin-left: 100px;
}

#italic {
    font-style: italic;
    margin-left: 100px;
}